@page "/"
@inject HttpClient Http 

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<p>@something</p>
@code {

    private string something = "dssdfdf";
protected override async Task OnInitializedAsync()
    {
        try
        {
            something = await Http.GetStringAsync("/api/Todo") ?? "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}